{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "unicorn/filename-case": "off",
    "max-params": "off",
    "unicorn/prefer-node-protocol": "off",
    "nonblock-statement-body-position": ["error", "below"],
    "no-negated-condition": "off"
  },
  "extends": [
    "oclif", 
    "oclif-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
