{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    // "@typescript-eslint/no-explicit-any": "off",
    "unicorn/filename-case": "off",
    "max-params": "off",
    "unicorn/prefer-node-protocol": "off",
    "nonblock-statement-body-position": ["error", "below"],
    "no-negated-condition": "off",
    "prefer-promise-reject-errors": "off",
    "no-warning-comments": "off",
    "no-implicit-coercion": "off",
    "no-process-exit": "off",
    "unicorn/no-array-callback-reference": "off",
    "new-cap": "off",
    "unicorn/throw-new-error": "off",
    "unicorn/import-style": "off",
    "complexity": "off",
    // "@typescript-eslint/no-var-requires": "warning",
    "unicorn/no-abusive-eslint-disable": "off"
  },
  "extends": [
    "oclif", 
    "oclif-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
